NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID='2ae98026cb2002cf43f90e33a9afefb1' # Required - https://cloud.walletconnect.com/
NEXT_PUBLIC_ENABLE_TESTNETS='' # true or false
NODE_ENV='' # development or production